<div class="modal-header">
  <h4 class="modal-title">Crear nueva tarea</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal().dismiss('Cross click')"></button>
</div>
<form (ngSubmit)="OnSubmit()" #newTaskForm="ngForm">
  <div class="modal-body">
    <div class="mb-3">
      <label for="task-title">Título</label>
      <input type="text" name="task-title" id="task-title" class="form-control" [(ngModel)]="formResult.title"
        required />
    </div>

    <div class="mb-3">
      <label for="task-description">Descripción</label>
      <textarea type="text" name="task-description" id="task-description" class="form-control"
        [(ngModel)]="formResult.description" required></textarea>
    </div>

    <div class="row g-3 mb-3">
      <div class="col">
        <label for="task-date">Fecha</label>
        <input type="date" name="task-date" id="task-date" class="form-control" [(ngModel)]="formResult.date"
          required />
      </div>
      <div class="col">
        <label for="task-time">Hora</label>
        <input type="time" name="task-time" id="task-time" class="form-control" [(ngModel)]="formResult.time"
          required />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!newTaskForm.valid">
      <i class="bi bi-plus-circle"></i>
      Crear
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal().close('Close click')">
      Cancelar
    </button>
  </div>
</form>