<app-header [userName]="userName()" class="fixed-top"></app-header>

<ng-template #newTask let-modal>
  <app-new-task-form [modal]="modal" (formSubmitted)="onFormSubmit($event)"></app-new-task-form>
</ng-template>

<section class="px-2 py-4 p-md-5">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="d-flex justify-content-between align-content-center mb-4">
          <h1 class="h2 m-0 fw-bold">Tus Tareas</h1>
          <button type="button" class="btn btn-primary" (click)="openModal(newTask)">
            <i class="bi bi-plus-circle"></i>
            Nueva Tarea
          </button>
        </div>

        <form>
          <div class="row g-3 justify-content-between">
            <div class="col-12 col-sm-7">
              <input type="text" name="search-filter" class="form-control" placeholder="Buscar tarea..."
                [(ngModel)]="searchFilter">
            </div>

            <div class="col-sm-5 col-md-4 col-lg-3">
              <select class="form-select" name="completion-filter" [(ngModel)]="statusFilter">
                @for (item of statusValues; track item[0]) {
                <option [value]="item[0]">{{item[1]}}</option>
                }
              </select>
            </div>
          </div>
        </form>

        <hr class="my-4">

        <div>
          @for (task of tasks(); track task.id) {
          @if(matchesSearch(task, searchFilter()) && matchesStatus(task, statusFilter())) {
          <app-todo-task [task]="task" (checkClicked)="onTaskCheckClick($event)"
            (deleteClicked)="onTaskDeleteClick($event)"></app-todo-task>
          }
          }
        </div>
      </div>
    </div>
  </div>
</section>