<section class="d-md-flex align-items-center bg-primary bg-gradient py-5 px-2 px-sm-5" style="min-height: 100vh;">
  <div class="container h-100">
    <div class="row align-items-center h-100 g-4">
      <div class="col-12 col-lg-6 col-xl-8 text-light">
        <div class="col-12 col-xl-10 text-center text-lg-start">
          <p class="text-uppercase fw-bolder h2 mb-5">
            <i class="bi bi-ui-checks-grid"></i>
            TaskFlow
          </p>
          <p class="h1 mb-3">Administra Tus Tareas de Manera Rápida Y Eficiente.</p>
          <p class="lead d-none d-lg-block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum unde expedita mollitia sapiente autem ipsum,
            optio beatae repellat reiciendis placeat voluptatum quam ut sed molestias quasi nostrum. Laboriosam, debitis
            reprehenderit.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <router-outlet />
      </div>
    </div>
  </div>
</section>