<div class="card">
  <div class="card-body p-5">
    <h3 class="card-title mb-4">Crea tu cuenta</h3>
    <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit()">
      <div class="form-floating mb-4">
        <input type="text" name="name" class="form-control" placeholder="" required [(ngModel)]="signUpObj.name"
          #name="ngModel">
        <label for="name" class="form-label">Nombre Completo</label>
      </div>

      <div class="form-floating mb-4">
        <input type="email" name="email" class="form-control" placeholder="" required email
          [(ngModel)]="signUpObj.email" #email="ngModel">
        <label for="email" class="form-label">Email</label>
      </div>

      <div class="form-check mt-4 mb-4">
        <input type="checkbox" name="agreement" id="agreement" class="form-check-input" required #checkbox
          [(ngModel)]="signUpObj.acceptedTerms">
        <label for="agreement" class="form-check-label">Acepto los Términos y Condiciones</label>
      </div>

      <button class="btn btn-lg btn-primary w-100" [disabled]="!signUpForm.valid">Registrarse</button>
    </form>
  </div>

  <div class="card-footer">
    <p class="text-center my-3">
      ¿Ya estás registrado?
      <a href="#" class="link-underline-primary" (click)="loginLinkClicked.emit()">Inicia Sesión</a>
    </p>
  </div>
</div>