<article class="card mb-3" [ngClass]="task().completed ? 'bg-success-subtle border-success' : ''">
  <div class="card-body">
    <div class="d-flex align-items-center gap-2">
      <input type="checkbox" class="form-check-input my-auto" [checked]="task().completed">
      <p class="mb-0 fw-bold text-truncate">{{task().title}}</p>
      <button class="btn p-0 ms-auto">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </div>

    <div class="ms-4">
      <p class="my-2">{{task().description}}</p>
      <small class="text-body-tertiary">
        <i class="bi bi-clock"></i>
        {{task().dueDate | date: 'M/d/yy, h:mm a'}}
      </small>
    </div>
  </div>
</article>